.widget {
    border: 1px solid #e4e4e7;
    /* Zinc-200 */
    border-radius: 1rem;
    padding: 1.5rem;
    background: #fafafa;
    margin-top: 2rem;
}

[data-theme='dark'] .widget {
    background: #18181b;
    border-color: #27272a;
}

.header {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    color: #18181b;
    margin-bottom: 1.5rem;
}

[data-theme='dark'] .header {
    color: #f4f4f5;
}

.icon {
    width: 1.25rem;
    height: 1.25rem;
    stroke: #a1a1aa;
    margin-right: 0.75rem;
}

/* History Item */
.item {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.25rem;
}

.item:last-child {
    margin-bottom: 0;
}

.logo {
    position: relative;
    flex: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #f4f4f5;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

[data-theme='dark'] .logo {
    background: #27272a;
    border-color: #3f3f46;
}

.logoImg {
    object-fit: cover;
}

.content {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.company {
    font-size: 0.875rem;
    font-weight: 500;
    color: #18181b;
}

[data-theme='dark'] .company {
    color: #f4f4f5;
}

.roleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.role {
    font-size: 0.75rem;
    color: #52525b;
}

[data-theme='dark'] .role {
    color: #a1a1aa;
}

.date {
    font-size: 0.75rem;
    color: #52525b;
}